# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.env
.venv
venv/
.Python

# Logs
*.log

# OS / IDE / Misc
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Cache / compiled
.cache/
dist/
build/
*.tar.gz

# Node (if frontend later)
node_modules/
npm-debug.log
